*{
    margin: 0;
    padding: 0;
}

/* semantic tag */

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 15px 10px;
}

p{
    font-style: italic;
}
/* unordered list */
.main-container ul{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-direction: column;
    color: red;
  
}


.main-container header li{
    color: purple;
    font-weight: bold;
}





    
   
